<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content_heading %}
Proxy Consumer: Mock Server for Proxy Server's API
{% endblock %}
{% block content %}
<div>
    <p>Experience seamless API development and testing with  <strong>Proxy Consumer</strong>, a robust mock server designed for ProxyServer's APIs. Easily simulate responses from the actual server, enabling comprehensive testing even when backend services are unavailable. Define custom responses effortlessly for different endpoints and scenarios, enhancing application robustness. By mimicking various server responses, status codes, and data payloads, ProxyConsumer ensures reliable and efficient API interactions. Seamlessly integrated with ProxyServer, it streamlines API development workflows, guaranteeing applications are production-ready.</p>
</div>
{% endblock %}
