<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="row justify-content-center" style="margin-top: 20px;">
        <div class="col-lg-8 text-center">
            <h2 class="header-text">❝Proxy Consumer: Mock Server for Proxy Server's API❞</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="description">
                <p>Experience seamless API development and testing with  <strong>Proxy Consumer</strong>, a robust mock server designed for ProxyServer's APIs. Easily simulate responses from the actual server, enabling comprehensive testing even when backend services are unavailable. Define custom responses effortlessly for different endpoints and scenarios, enhancing application robustness. By mimicking various server responses, status codes, and data payloads, ProxyConsumer ensures reliable and efficient API interactions. Seamlessly integrated with ProxyServer, it streamlines API development workflows, guaranteeing applications are production-ready.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
