<!DOCTYPE html>
{% extends '../base.html' %} {% load static %} {% block body_block %}
<div class="container">
	<div class="row justify-content-center" style="margin-top:10px;margin-bottom:10px;">
		<div class="col-lg-8 text-center">
			<h2 class="header-text">❝JaySoft - Proxy: Signin❞</h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="description">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label class="form-group" for="id_username">Username:</label>
                        <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                    </div>
                    <div>
                        <label class="form-group" for="id_password">Password:</label>
                        <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password">
                    </div>
                    <div style="display:flex;justify-content:space-around;margin-top:10px;">
                        <div>
                            <button type="submit" class="btn btn-primary">Signin</button>
                        </div>
                        <div>
                            <a href="{% url 'proxy_signup' %}" class="btn btn-primary">
                                Signup
                            </a>
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}