<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="row justify-content-center" style="margin-top: 20px;">
        <div class="col-lg-8 text-center">
            <h2 class="header-text">❝Proxy Server: Route Your API Calls through Us❞</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="description">
                <p>Experience seamless API development and testing with <strong>Proxy Server</strong>. Effortlessly route your requests through our proxy server to gain comprehensive insights into the traffic between your clients and servers. Monitor, modify, and manage interactions with ease, ensuring the reliability and efficiency of your APIs. Debug and optimize API interactions with confidence, knowing that Proxy Server has you covered.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
